.nav-wrapper {
  padding: 0px 20px;
}

figure {
  padding-left: 20px !important;
  width: 400px !important; 
  background: white !important;
}

.coverflow__container__1P-xE {
  margin-top: 50px !important;
  background: red !important;
}