body, html {
  background-image: url(/public/img/home.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw
}

@media screen and (min-width: 300px) {
    body {
        background-position: 90% 30%;
    }
}

.nav-wrapper {
  padding: 0px 20px;
}

figure {
  padding-left: 20px !important;
  //width: 400px !important; 
  background: white !important;
  height: 350px !important;
  align-self: stretch !important;
  word-wrap: break-word;
}

.coverflow__container__1P-xE {
  margin-top: 50px !important;
  background: orange !important;
}
.open-doc{
  z-index: 10000;
  cursor: pointer;
  pointer-events: auto
}

.coverflow__cover__25-7e {
  margin-top: 50px !important;
}

.my-centered {
  margin: 15px auto;
}

.my-top-border {
  border-top: 3px solid orange;
}

.pin-top {
    position: relative;
  }

// Class for when element is below threshold
.pin-bottom {
  position: relative;
}

// Class for when element is pinned
.pinned {
  position: fixed !important;
}

.edit-document-container {
  margin-top: 25px
}
.edit-document-buttons button {
  margin-top: 15px;
  width: 80%
}

.width-85 {
  width: 100% !important;
}

.button-margin {
  margin: 0 10px
}

.my-container {
  padding: 10px !important;
  margin: 0px auto;
}

.my-centered {
  margin: 0px auto;
}